/******* FONTS (IMPORT FROM GOOGLE) ************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300);
/**********************************/
/************* FONTS **************/
/**********************************/
/**********************************/
/******* HTML AND BODY ************/
/**********************************/
/**********************************/
/*************** BODY *************/
/**********************************/
/**********************************/
/********** PAGE TOP ZONE *********/
/**********************************/
/**********************************/
/*********** HEADER ZONE **********/
/**********************************/
/**********************************/
/******** NAVEGATION ZONE *********/
/**********************************/
/**********************************/
/******** HIGHLIGHTED ZONE ********/
/**********************************/
/**********************************/
/******* MAIN CONTENT ZONE ********/
/**********************************/
/**********************************/
/************ FOOTER ZONE *********/
/**********************************/
/**********************************/
/********* PAGE BOTTOM ZONE *******/
/**********************************/
/**********************************/
/************* MESSAGES ***********/
/**********************************/
/**********************************/
/************** TABS **************/
/**********************************/
/**********************************/
/*********** ACTION LINKS *********/
/**********************************/
/**********************************/
/************ BREADCRUMB **********/
/**********************************/
/**********************************/
/*********** BLOCKS ***************/
/**********************************/
/**********************************/
/********* SIDR RESPONSIVE ********/
/**********************************/
/**********************************/
/********** MENUS UL.menu *********/
/**********************************/
/**********************************/
/**** HEADERS h1 h2 h3 h4 h5 h6 ***/
/**********************************/
/**********************************/
/*********** PARAGRAPH ************/
/**********************************/
/**********************************/
/*************** HR ***************/
/**********************************/
/**********************************/
/************** TABLE *************/
/**********************************/
/**********************************/
/************* FORMS **************/
/**********************************/
/* line 1, ../sass/base/_forms.scss */
.form-item, .form-actions {
  margin: 1.2em 0; }
  /* line 4, ../sass/base/_forms.scss */
  .form-item .webform-container-inline div, .form-item .webform-container-inline div.form-item:after, .form-actions .webform-container-inline div, .form-actions .webform-container-inline div.form-item:after {
    clear: none;
    display: inline-block;
    content: none; }
  /* line 11, ../sass/base/_forms.scss */
  .form-item label, .form-actions label {
    display: block;
    font-weight: normal;
    margin: 0 0 0.5rem;
    color: #000; }
    /* line 17, ../sass/base/_forms.scss */
    .form-item label.option, .form-actions label.option {
      display: inline;
      margin: 0; }

/* line 24, ../sass/base/_forms.scss */
.description {
  display: block;
  clear: both;
  color: #999;
  font-size: 1rem;
  padding: 0.5em 0; }

/* line 32, ../sass/base/_forms.scss */
.form-actions {
  text-align: left; }

/* line 36, ../sass/base/_forms.scss */
.filter-wrapper .form-item label {
  display: block; }

/* line 40, ../sass/base/_forms.scss */
.form-required {
  color: #d00; }

/* line 44, ../sass/base/_forms.scss */
fieldset {
  margin: 1em 0;
  padding: 1em; }

/*********** FORM INPUTS *********/
/* line 53, ../sass/base/_forms.scss */
input[type="text"], input[type="email"], input[type="password"], select, textarea {
  line-height: normal;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0.5rem;
  height: auto;
  width: 100%;
  max-width: 700px; }
  @media (min-width: 0) and (max-width: 750px) {
    /* line 53, ../sass/base/_forms.scss */
    input[type="text"], input[type="email"], input[type="password"], select, textarea {
      width: 96%;
      padding: 0.5em 2%; } }
  /* line 69, ../sass/base/_forms.scss */
  input[type="text"].form-checkbox, input[type="text"].form-radio, input[type="email"].form-checkbox, input[type="email"].form-radio, input[type="password"].form-checkbox, input[type="password"].form-radio, select.form-checkbox, select.form-radio, textarea.form-checkbox, textarea.form-radio {
    width: auto; }
  /* line 73, ../sass/base/_forms.scss */
  input[type="text"].form-autocomplete, input[type="email"].form-autocomplete, input[type="password"].form-autocomplete, select.form-autocomplete, textarea.form-autocomplete {
    background-image: none; }
  /* line 77, ../sass/base/_forms.scss */
  input[type="text"].error, input[type="email"].error, input[type="password"].error, select.error, textarea.error {
    border: 2px solid #1cb1e2; }

/*********** FORM BUTTON *********/
/* line 85, ../sass/base/_forms.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background: #1cb1e2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1cb1e2 0%, #1cb1e2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1cb1e2), color-stop(100%, #1cb1e2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1cb1e2 0%, #1cb1e2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1cb1e2 0%, #1cb1e2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1cb1e2 0%, #1cb1e2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1cb1e2 0%, #1cb1e2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient1-light', endColorstr='$gradient1-dark',GradientType=0 );
  /* IE6-9 */
  cursor: pointer;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid #1cb1e2;
  border-radius: 0;
  margin: 0.5rem 0.5rem 0 0; }
  /* line 95, ../sass/base/_forms.scss */
  button.ajax-processed, html input[type="button"].ajax-processed, input[type="reset"].ajax-processed, input[type="submit"].ajax-processed {
    background-color: #fff;
    background-image: none;
    border: 1px solid #000;
    color: #000;
    display: inline;
    font-size: 0.8rem; }
  /* line 103, ../sass/base/_forms.scss */
  button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: #006699;
    /* Old browsers */
    background: -moz-linear-gradient(top, #006699 0%, #006699 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006699), color-stop(100%, #006699));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #006699 0%, #006699 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #006699 0%, #006699 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #006699 0%, #006699 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #006699 0%, #006699 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient1-light', endColorstr='$gradient1-dark',GradientType=0 );
    /* IE6-9 */
    color: #fff;
    border: 1px solid #006699; }

/*********** LOAD GIF *********/
/* line 114, ../sass/base/_forms.scss */
.ajax-progress.ajax-progress-throbber, .flag-wrapper.flag-waiting {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8) url(../images/load.gif) no-repeat 50% 50%;
  z-index: 99; }

/* line 125, ../sass/base/_forms.scss */
#views_infinite_scroll-ajax-loader {
  background: rgba(255, 255, 255, 0.8) url(../images/load.gif) no-repeat 50% 50%;
  clear: both;
  margin: 2.5em auto;
  width: 40px;
  height: 40px;
  line-height: 0; }
  /* line 133, ../sass/base/_forms.scss */
  #views_infinite_scroll-ajax-loader img {
    display: none; }

/* line 139, ../sass/base/_forms.scss */
.throbber {
  display: none; }

/* line 143, ../sass/base/_forms.scss */
.jquery-filestyle {
  max-width: 400px;
  display: block !important; }
  /* line 147, ../sass/base/_forms.scss */
  .jquery-filestyle:after {
    display: block;
    content: " ";
    clear: both; }
  /* line 151, ../sass/base/_forms.scss */
  .jquery-filestyle input {
    float: left !important;
    width: 50% !important;
    display: block;
    margin: 0 !important;
    height: 38px;
    line-height: 38px;
    padding: 0;
    cursor: not-allowed; }
  /* line 162, ../sass/base/_forms.scss */
  .jquery-filestyle label {
    background: #1cb1e2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1cb1e2 0%, #1cb1e2 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1cb1e2), color-stop(100%, #1cb1e2));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1cb1e2 0%, #1cb1e2 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1cb1e2 0%, #1cb1e2 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1cb1e2 0%, #1cb1e2 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1cb1e2 0%, #1cb1e2 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient1-light', endColorstr='$gradient1-dark',GradientType=0 );
    /* IE6-9 */
    text-indent: 0px;
    color: #fff;
    border: 1px solid #1cb1e2;
    border-radius: 0;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
    width: 50% !important;
    float: left !important;
    display: block !important;
    margin: 0 !important;
    max-width: 130px;
    text-align: center; }
    /* line 180, ../sass/base/_forms.scss */
    .jquery-filestyle label:hover {
      background: #006699;
      /* Old browsers */
      background: -moz-linear-gradient(top, #006699 0%, #006699 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006699), color-stop(100%, #006699));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #006699 0%, #006699 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #006699 0%, #006699 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #006699 0%, #006699 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #006699 0%, #006699 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient1-light', endColorstr='$gradient1-dark',GradientType=0 );
      /* IE6-9 */
      color: #fff;
      border: 1px solid #006699; }
  /* line 188, ../sass/base/_forms.scss */
  .jquery-filestyle .icon-folder-open {
    background: url(../images/upload-icon.png) no-repeat 50% 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px 0.2rem 0 0;
    vertical-align: sub; }

/* line 198, ../sass/base/_forms.scss */
.omega-extension-settings {
  padding-left: 10px;
  padding-right: 10px; }

/* line 1, ../sass/base/_jquery.sidr.dark.scss */
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  background: #fff;
  color: #ccc; }

/* line 14, ../sass/base/_jquery.sidr.dark.scss */
#responsive-menu-button {
  display: block;
  background-color: #1cb1e2;
  float: right;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  color: #fff;
  margin: 1rem;
  font-weight: 400;
  font-size: 1.2rem; }
  /* line 25, ../sass/base/_jquery.sidr.dark.scss */
  #responsive-menu-button:hover, #responsive-menu-button:active {
    background-color: #006699;
    color: #fff; }

/* line 31, ../sass/base/_jquery.sidr.dark.scss */
body.sidr-open {
  overflow: hidden;
  position: fixed !important;
  top: 0; }

/* line 36, ../sass/base/_jquery.sidr.dark.scss */
.sidr-class-element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }

/* line 43, ../sass/base/_jquery.sidr.dark.scss */
.sidr .sidr-inner {
  padding: 0 0 15px; }

/* line 47, ../sass/base/_jquery.sidr.dark.scss */
.sidr.right {
  left: auto;
  right: -260px; }

/* line 51, ../sass/base/_jquery.sidr.dark.scss */
.sidr.left {
  left: -260px;
  right: auto; }

/* line 55, ../sass/base/_jquery.sidr.dark.scss */
.sidr-class-block {
  position: relative; }

/* line 59, ../sass/base/_jquery.sidr.dark.scss */
.sidr-class-contextual-links-wrapper {
  display: none;
  position: absolute;
  z-index: 9;
  right: 2px;
  top: 2px;
  font-size: 12px; }
  /* line 68, ../sass/base/_jquery.sidr.dark.scss */
  .sidr-class-contextual-links-wrapper .sidr-class-contextual-links-trigger {
    background: #fff;
    display: block;
    padding: 5px;
    color: #000;
    font-weight: bold; }
  /* line 76, ../sass/base/_jquery.sidr.dark.scss */
  .sidr-class-contextual-links-wrapper .sidr-class-contextual-links {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    list-style-image: none;
    display: none;
    text-align: right;
    background-color: #fff;
    clear: both;
    position: absolute;
    top: 20px;
    right: 0;
    width: 115px; }
    /* line 86, ../sass/base/_jquery.sidr.dark.scss */
    .sidr-class-contextual-links-wrapper .sidr-class-contextual-links a {
      display: block;
      padding: 5px;
      text-align: right;
      color: #000; }
  /* line 93, ../sass/base/_jquery.sidr.dark.scss */
  .sidr-class-contextual-links-wrapper:hover {
    z-index: 10; }
    /* line 95, ../sass/base/_jquery.sidr.dark.scss */
    .sidr-class-contextual-links-wrapper:hover .sidr-class-contextual-links {
      display: block; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_tables.scss */
table {
  width: 100%;
  border: 1px solid #999;
  font-size: 0.9rem; }

/* line 7, ../sass/base/_tables.scss */
.tabledrag-toggle-weight-wrapper {
  text-align: right;
  margin: 1rem 0; }

/* line 12, ../sass/base/_tables.scss */
th {
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase; }

/* line 21, ../sass/base/_tables.scss */
tr.odd {
  background-color: #fefefe; }
/* line 25, ../sass/base/_tables.scss */
tr.even {
  background-color: #efefef; }
/* line 29, ../sass/base/_tables.scss */
tr.drag, tr.drag-previous {
  background-color: #777;
  color: #fff; }
/* line 34, ../sass/base/_tables.scss */
tr.region-title {
  background-color: #ddd;
  color: #000; }

/* line 40, ../sass/base/_tables.scss */
tr td {
  padding: 0.5rem; }

/* line 44, ../sass/base/_tables.scss */
dt {
  display: block;
  margin: 0.5rem; }

/* line 49, ../sass/base/_tables.scss */
.sticky-header {
  background-color: #000;
  border-color: #000;
  top: 0 !important;
  z-index: 99; }

/* line 55, ../sass/base/_tables.scss */
a.tabledrag-handle {
  width: 15px;
  height: 20px;
  margin: 0 1rem 0 0; }
  /* line 60, ../sass/base/_tables.scss */
  a.tabledrag-handle .handle {
    width: 15px;
    height: 20px;
    padding: 0;
    margin: 0;
    background: transparent url("../images/draggable.png") no-repeat scroll 0 0; }
    /* line 66, ../sass/base/_tables.scss */
    a.tabledrag-handle .handle:hover {
      background-position: 0 -20px; }
    /* line 69, ../sass/base/_tables.scss */
    a.tabledrag-handle .handle:active {
      background-position: 0 -40px; }

/* line 1, ../sass/base/_typography.scss */
html, body {
  font: 14px "Roboto", sans-serif; }

/* line 21, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0 0 1rem; }

/* line 28, ../sass/base/_typography.scss */
h1 {
  font-size: 2.5rem;
  margin: 0 0 1.5rem; }

/* line 35, ../sass/base/_typography.scss */
h2 {
  font-size: 1.3rem; }

/* line 41, ../sass/base/_typography.scss */
h3 {
  font-size: 1.2rem; }

/* line 47, ../sass/base/_typography.scss */
h4 {
  font-size: 1rem; }

/* line 53, ../sass/base/_typography.scss */
h5 {
  font-size: 0.75rem; }

/* line 59, ../sass/base/_typography.scss */
h6 {
  font-size: 0.5rem; }

/* line 70, ../sass/base/_typography.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #1cb1e2;
  margin: 1em 0;
  padding: 0; }

/* line 79, ../sass/base/_typography.scss */
a {
  color: #1cb1e2;
  text-decoration: none; }
  /* line 82, ../sass/base/_typography.scss */
  a:hover {
    color: #006699; }

/* line 89, ../sass/base/_typography.scss */
fieldset .fieldset-legend {
  padding: 0.5rem; }

/***** ALL BLOCKS *******/
/* line 3, ../sass/components/blocks/_blocks.scss */
.block {
  margin: 0.5rem 0; }

/* line 7, ../sass/components/blocks/_blocks.scss */
.block__title {
  margin-bottom: 1rem;
  font-style: italic; }

/***** CLOSURE *******/
/* line 4, ../sass/components/blocks/_closure-blocks.scss */
.l-closure--footer > .block {
  margin: 1.5rem 0; }
/* line 7, ../sass/components/blocks/_closure-blocks.scss */
.l-closure--footer .block__title {
  font-size: 1em; }

/***** FOOTER BLOCKS *******/
/* line 4, ../sass/components/blocks/_footer-blocks.scss */
.l-region--footer > .block {
  margin: 1.5rem 0; }
/* line 7, ../sass/components/blocks/_footer-blocks.scss */
.l-region--footer .block__title {
  font-size: 1em; }

/***** SIDEBAR *******/
/* line 4, ../sass/components/blocks/_sidebar-blocks.scss */
.l-region--sidebar > .block {
  margin: 0 0 1.5rem;
  border-bottom: 1px dotted #666;
  padding-bottom: 1rem; }
/* line 9, ../sass/components/blocks/_sidebar-blocks.scss */
.l-region--sidebar .block__title {
  font-size: 1.3rem; }

/***** SIDR - RESPONSIVE MENU *******/
/* line 3, ../sass/components/blocks/_sidr.scss */
.sidr-class-block {
  margin: 0 1rem 1.5rem;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1rem; }
  /* line 8, ../sass/components/blocks/_sidr.scss */
  .sidr-class-block .block__title {
    font-size: 1.3rem; }

/***** PAGE TOP BLOCKS ********/
/* line 3, ../sass/components/blocks/_top-region-blocks.scss */
.l-page-top-wrapper .block {
  margin: 0.5rem 1rem 0.5rem 0;
  float: left;
  border-right: 1px dotted #666;
  padding: 0px 1rem 0 0; }
  /* line 9, ../sass/components/blocks/_top-region-blocks.scss */
  .l-page-top-wrapper .block:after {
    display: block;
    content: " ";
    clear: both; }
  /* line 13, ../sass/components/blocks/_top-region-blocks.scss */
  .l-page-top-wrapper .block .block__title {
    margin: 0px 0.5rem 0px 0px;
    font-style: italic;
    float: left;
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 400; }
  /* line 22, ../sass/components/blocks/_top-region-blocks.scss */
  .l-page-top-wrapper .block .block__content {
    float: left; }

/* line 3, ../sass/components/forms/_search.scss */
form#search-block-form .container-inline:after {
  display: block;
  content: " ";
  clear: both; }
/* line 7, ../sass/components/forms/_search.scss */
form#search-block-form .form-item-search-block-form, form#search-block-form .form-actions.form-wrapper {
  float: left;
  margin: 0; }
  /* line 11, ../sass/components/forms/_search.scss */
  form#search-block-form .form-item-search-block-form input, form#search-block-form .form-actions.form-wrapper input {
    height: 35px;
    line-height: 35px; }
/* line 17, ../sass/components/forms/_search.scss */
form#search-block-form .form-submit {
  background-image: url(../images/search-icon.png);
  background-color: #1cb1e2;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-position: 50% 50%;
  overflow: hidden;
  text-decoration: 99999px;
  text-indent: -99999px;
  display: block;
  margin: 0;
  padding: 0; }

/* line 1, ../sass/components/layout/_actions-links.scss */
.action-links {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  list-style-image: none;
  margin: 1rem 0;
  border-width: 0; }
  /* line 5, ../sass/components/layout/_actions-links.scss */
  .action-links:after {
    display: block;
    content: " ";
    clear: both; }
  /* line 8, ../sass/components/layout/_actions-links.scss */
  .action-links li {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    list-style-image: none;
    float: left;
    margin: 0 0.5rem 0.5rem 0; }
  /* line 14, ../sass/components/layout/_actions-links.scss */
  .action-links li > a {
    display: block;
    background-color: #fff;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #000;
    font-size: 1rem; }
    /* line 23, ../sass/components/layout/_actions-links.scss */
    .action-links li > a:hover, .action-links li > a.active {
      color: #006699;
      border-color: #006699;
      background-color: #fff; }

/* line 1, ../sass/components/layout/_breadcrumb.scss */
ul.breadcrumb {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  list-style-image: none;
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #999; }
  /* line 7, ../sass/components/layout/_breadcrumb.scss */
  ul.breadcrumb li {
    list-style-image: none;
    list-style: none;
    display: inline; }
    /* line 13, ../sass/components/layout/_breadcrumb.scss */
    ul.breadcrumb li:after {
      content: " / "; }
  /* line 19, ../sass/components/layout/_breadcrumb.scss */
  ul.breadcrumb a {
    display: inline;
    color: #999; }
    /* line 23, ../sass/components/layout/_breadcrumb.scss */
    ul.breadcrumb a:hover {
      color: #1cb1e2; }

/* line 1, ../sass/components/layout/_fields.scss */
.field {
  margin: 0.5rem 0;
  display: block;
  padding: 0.5rem 0; }

/***** GENERAL NODES *******/
/* line 3, ../sass/components/layout/_general-nodes.scss */
p.submitted {
  font-size: 0.9rem;
  font-style: italic; }

/* line 10, ../sass/components/layout/_general-nodes.scss */
.node--teaser {
  padding: 1rem;
  margin: 0px 0px 1rem;
  border: 1px solid #DDD;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.1); }
  /* line 16, ../sass/components/layout/_general-nodes.scss */
  .node--teaser h2.node__title {
    font-size: 1.5rem;
    margin: 1.5rem 0; }
    /* line 19, ../sass/components/layout/_general-nodes.scss */
    .node--teaser h2.node__title a {
      color: #000; }

/* line 26, ../sass/components/layout/_general-nodes.scss */
ul.links {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-width: 0;
  font-size: 0.9rem;
  border-top: 1px dotted #ccc; }
  /* line 33, ../sass/components/layout/_general-nodes.scss */
  ul.links li {
    margin: 0 0.5rem 0.5rem 0; }
  /* line 37, ../sass/components/layout/_general-nodes.scss */
  ul.links li > a {
    display: block;
    background-color: #fff;
    padding: 0.5rem 1rem;
    color: #000;
    border: 1px solid #999; }
    /* line 44, ../sass/components/layout/_general-nodes.scss */
    ul.links li > a:hover, ul.links li > a:active, ul.links li > a.active {
      color: #fff;
      border-color: #1cb1e2;
      background-color: #1cb1e2; }

/**** BODY ******/
/* line 3, ../sass/components/layout/_general-website.scss */
body {
  background-color: #fff;
  color: #555; }

/* line 7, ../sass/components/layout/_general-website.scss */
.l-width-grid {
  padding: 0 1rem;
  transition: all 0.3s ease-out 0s; }
  /* line 10, ../sass/components/layout/_general-website.scss */
  .l-width-grid:after {
    display: block;
    content: " ";
    clear: both; }
  @media (min-width: 750px) {
    /* line 7, ../sass/components/layout/_general-website.scss */
    .l-width-grid {
      width: 750px;
      margin: 0 auto; } }
  @media (min-width: 960px) {
    /* line 7, ../sass/components/layout/_general-website.scss */
    .l-width-grid {
      width: 960px;
      margin: 0 auto; } }
  @media (min-width: 1220px) {
    /* line 7, ../sass/components/layout/_general-website.scss */
    .l-width-grid {
      width: 1220px;
      margin: 0 auto; } }

/**** PAGE TOP ZONE *******/
/* line 30, ../sass/components/layout/_general-website.scss */
.l-page-top-wrapper {
  background-color: #555;
  color: #999;
  margin: 0;
  padding: 0.8rem 0; }
  /* line 37, ../sass/components/layout/_general-website.scss */
  .l-page-top-wrapper a {
    color: #ccc; }
    /* line 39, ../sass/components/layout/_general-website.scss */
    .l-page-top-wrapper a:hover {
      color: #fff; }

/**** HEADER ZONE ******/
@media (min-width: 750px) {
  /* line 67, ../sass/components/layout/_general-website.scss */
  .l-header-wrapper .l-branding {
    float: left;
    margin: 1rem 1.5rem 1rem 0; } }
/* line 72, ../sass/components/layout/_general-website.scss */
.l-header-wrapper .l-branding:after {
  display: block;
  content: " ";
  clear: both; }
/* line 77, ../sass/components/layout/_general-website.scss */
.l-header-wrapper .site-logo {
  margin: 0px 0.5rem 0px 0px;
  display: block;
  float: left; }
  /* line 81, ../sass/components/layout/_general-website.scss */
  .l-header-wrapper .site-logo img {
    vertical-align: middle; }
  @media (min-width: 0) and (max-width: 750px) {
    /* line 77, ../sass/components/layout/_general-website.scss */
    .l-header-wrapper .site-logo {
      float: none;
      margin: 0 0 0.5rem;
      display: inline-block; } }
/* line 90, ../sass/components/layout/_general-website.scss */
.l-header-wrapper .site-name-slogan-wrap {
  display: block;
  float: left;
  margin: 1.5rem 0 0; }
  @media (min-width: 0) and (max-width: 750px) {
    /* line 90, ../sass/components/layout/_general-website.scss */
    .l-header-wrapper .site-name-slogan-wrap {
      float: none;
      margin: 0.2rem 0; } }
/* line 100, ../sass/components/layout/_general-website.scss */
.l-header-wrapper h1.site-name {
  font-weight: 900;
  font-style: italic;
  margin: 0; }
  /* line 105, ../sass/components/layout/_general-website.scss */
  .l-header-wrapper h1.site-name a {
    color: #000; }
/* line 109, ../sass/components/layout/_general-website.scss */
.l-header-wrapper h2.site-slogan {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0; }

/**** NAVEGATION ZONE *******/
/* line 118, ../sass/components/layout/_general-website.scss */
#responsive-menu-button {
  display: none; }
  @media (min-width: 0) and (max-width: 960px) {
    /* line 118, ../sass/components/layout/_general-website.scss */
    #responsive-menu-button {
      display: block; } }

@media (min-width: 0) and (max-width: 960px) {
  /* line 124, ../sass/components/layout/_general-website.scss */
  #responsive-menu {
    display: none; } }

@media (min-width: 750px) {
  /* line 131, ../sass/components/layout/_general-website.scss */
  .l-region--navigation {
    float: right; } }
/* line 140, ../sass/components/layout/_general-website.scss */
.l-region--navigation .block {
  float: right;
  clear: both; }

/**** HIGHLIGHTED ZONE *******/
/* line 154, ../sass/components/layout/_general-website.scss */
.l-highlighted-wrapper {
  margin: 0 0 2rem; }

/**** MAIN CONTENT ZONE *******/
/* line 176, ../sass/components/layout/_general-website.scss */
.l-main-wrapper {
  padding: 2rem 0; }

@media (min-width: 750px) {
  /* line 199, ../sass/components/layout/_general-website.scss */
  body.with_sidebar .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 202, ../sass/components/layout/_general-website.scss */
  body.with_sidebar .l-region--sidebar-first {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
@media (min-width: 1220px) {
  /* line 207, ../sass/components/layout/_general-website.scss */
  body.with_sidebar .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 210, ../sass/components/layout/_general-website.scss */
  body.with_sidebar .l-region--sidebar-first {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/**** FOOTER ZONE *******/
/* line 217, ../sass/components/layout/_general-website.scss */
.l-footer-wrapper {
  background-color: #eee;
  padding: 0.5rem 0; }

/**** PAGE BOTTOM ZONE *******/
/* line 233, ../sass/components/layout/_general-website.scss */
.l-page-bottom-wrapper {
  background-color: #ddd;
  padding: 0.5rem 0; }

/* line 1, ../sass/components/layout/_messages.scss */
.l-message-wrapper {
  background-color: #eee; }

/* line 5, ../sass/components/layout/_messages.scss */
.messages {
  margin: 0;
  padding: 0;
  background-image: none;
  border: 0 none;
  background-color: transparent;
  color: #000;
  font-size: 0.9rem; }
  /* line 14, ../sass/components/layout/_messages.scss */
  .messages .messages-grid {
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 20px 20px 20px 50px; }
    /* line 19, ../sass/components/layout/_messages.scss */
    .messages .messages-grid a {
      color: #fff; }
      /* line 21, ../sass/components/layout/_messages.scss */
      .messages .messages-grid a:hover {
        text-decoration: underline; }
  /* line 27, ../sass/components/layout/_messages.scss */
  .messages.messages--status {
    background-color: #ccffcc; }
    /* line 30, ../sass/components/layout/_messages.scss */
    .messages.messages--status a {
      color: #336633; }
    /* line 33, ../sass/components/layout/_messages.scss */
    .messages.messages--status .messages-grid {
      background-image: url(../images/message-status-black.png); }
  /* line 37, ../sass/components/layout/_messages.scss */
  .messages.messages--error {
    background-color: #ffebeb;
    color: #993333; }
    /* line 40, ../sass/components/layout/_messages.scss */
    .messages.messages--error a {
      color: #993333; }
    /* line 43, ../sass/components/layout/_messages.scss */
    .messages.messages--error .messages-grid {
      background-image: url(../images/message-error-black.png); }
  /* line 47, ../sass/components/layout/_messages.scss */
  .messages.messages--warning {
    background-color: #ffffcc; }
    /* line 50, ../sass/components/layout/_messages.scss */
    .messages.messages--warning a {
      color: #996600; }
    /* line 53, ../sass/components/layout/_messages.scss */
    .messages.messages--warning .messages-grid {
      background-image: url(../images/message-warning-black.png); }

/* line 1, ../sass/components/layout/_tabs.scss */
.tabs {
  margin: 0.5rem 0;
  border-width: 0;
  font-size: 1rem; }
  /* line 6, ../sass/components/layout/_tabs.scss */
  .tabs li {
    margin: 0 0.5rem 0.5rem 0; }
  /* line 10, ../sass/components/layout/_tabs.scss */
  .tabs li > a {
    display: block;
    background-color: #fff;
    padding: 0.5rem 1rem;
    color: #000;
    border: 1px solid #999; }
    /* line 17, ../sass/components/layout/_tabs.scss */
    .tabs li > a:hover, .tabs li > a:active, .tabs li > a.active {
      color: #fff;
      border-color: #1cb1e2;
      background-color: #1cb1e2; }
  /* line 23, ../sass/components/layout/_tabs.scss */
  .tabs.tabs--secondary {
    font-size: 0.9rem; }

/***** ALL MENUS Ul.menu ********/
/* line 3, ../sass/components/menus/_all-menu.scss */
ul.menu, ul.sidr-class-menu {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  list-style-image: none; }
  /* line 5, ../sass/components/menus/_all-menu.scss */
  ul.menu:after, ul.sidr-class-menu:after {
    display: block;
    content: " ";
    clear: both; }
  /* line 9, ../sass/components/menus/_all-menu.scss */
  ul.menu li, ul.sidr-class-menu li {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    list-style-image: none; }
  /* line 12, ../sass/components/menus/_all-menu.scss */
  ul.menu a, ul.sidr-class-menu a {
    color: #000;
    display: block; }
    /* line 16, ../sass/components/menus/_all-menu.scss */
    ul.menu a:hover, ul.menu a:active, ul.sidr-class-menu a:hover, ul.sidr-class-menu a:active {
      color: #006699; }

/***** FOOTER MENUS ********/
/* line 5, ../sass/components/menus/_footer-menus.scss */
.l-page-bottom-wrapper ul.menu li {
  margin: 0.2rem 0.5rem;
  float: left; }
  /* line 9, ../sass/components/menus/_footer-menus.scss */
  .l-page-bottom-wrapper ul.menu li.first {
    margin-left: 0; }

/***** HEADER BLOCKS *****/
/* line 5, ../sass/components/menus/_header-blocks.scss */
.l-region--navigation ul.menu li {
  float: left;
  margin: 0 0.25rem; }
  /* line 8, ../sass/components/menus/_header-blocks.scss */
  .l-region--navigation ul.menu li.last {
    margin-right: 0; }
/* line 12, ../sass/components/menus/_header-blocks.scss */
.l-region--navigation ul.menu a {
  padding: 0.2rem 0.5rem;
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 3px; }
  /* line 20, ../sass/components/menus/_header-blocks.scss */
  .l-region--navigation ul.menu a:hover {
    color: #fff;
    background-color: #006699; }

/***** TOP REGION MENUS ********/
/* line 3, ../sass/components/menus/_page-top-menus.scss */
.l-page-top-wrapper ul.menu {
  float: left; }
  /* line 6, ../sass/components/menus/_page-top-menus.scss */
  .l-page-top-wrapper ul.menu li {
    margin: 0 0.5rem;
    float: left; }
    /* line 10, ../sass/components/menus/_page-top-menus.scss */
    .l-page-top-wrapper ul.menu li.first {
      margin-left: 0; }
    /* line 13, ../sass/components/menus/_page-top-menus.scss */
    .l-page-top-wrapper ul.menu li.last {
      margin-right: 0; }
  /* line 18, ../sass/components/menus/_page-top-menus.scss */
  .l-page-top-wrapper ul.menu a {
    color: #ccc;
    font-size: 0.9rem; }
    /* line 21, ../sass/components/menus/_page-top-menus.scss */
    .l-page-top-wrapper ul.menu a:hover {
      color: #fff; }

/***** SIDEBAR ********/
/* line 5, ../sass/components/menus/_sidebar-menu.scss */
.l-region--sidebar ul.menu li {
  margin: 0.2rem 0; }
/* line 9, ../sass/components/menus/_sidebar-menu.scss */
.l-region--sidebar ul.menu a {
  padding: 0.5rem 0; }

/***** SIDR - RESPONSIVE MENU ********/
/* line 5, ../sass/components/menus/_sidr-menus.scss */
#sidr-main ul.sidr-class-menu li {
  margin: 0.2rem 0; }
/* line 9, ../sass/components/menus/_sidr-menus.scss */
#sidr-main ul.sidr-class-menu a {
  padding: 0.5rem 0; }

/***** VIEW PAGER ******/
/* line 3, ../sass/components/views/_views.scss */
.view ul.pager {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  list-style-image: none;
  padding: 0px;
  display: block;
  margin: 1rem 0px;
  position: relative;
  text-align: center;
  background-color: #fff;
  color: #CCC;
  font-size: 0.9em;
  float: right;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); }
  /* line 17, ../sass/components/views/_views.scss */
  .view ul.pager:after {
    display: block;
    content: " ";
    clear: both; }
  /* line 21, ../sass/components/views/_views.scss */
  .view ul.pager li {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    list-style-image: none;
    float: left;
    padding: 0;
    color: #000;
    font-weight: normal; }
  /* line 29, ../sass/components/views/_views.scss */
  .view ul.pager a {
    color: #1cb1e2;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase; }
    /* line 36, ../sass/components/views/_views.scss */
    .view ul.pager a:hover {
      color: #006699; }
  /* line 43, ../sass/components/views/_views.scss */
  .view ul.pager .pager__item--current {
    padding: 10px 15px; }

/* line 51, ../sass/components/views/_views.scss */
.view-empty p {
  margin: 1em 0;
  text-align: center;
  color: #cc3333;
  font-size: 1.5em; }

/* line 60, ../sass/components/views/_views.scss */
.view-content:after {
  display: block;
  content: " ";
  clear: both; }

/* line 67, ../sass/components/views/_views.scss */
.view-editoriales ul.pager, .view.view-users ul.pager, .view-calendario ul.pager {
  display: none; }

/*# sourceMappingURL=cornelius.styles.css.map */
