/***** ALL MENUS Ul.menu ********/

ul.menu, ul.sidr-class-menu {
	@include clean-list;
	&:after {
		@include clear-float;
	}

	li {
		@include clean-list;
	}
	a {
		color: $menu-ul-link;
		display: block;

		&:hover, &:active {
			color: $menu-ul-link-h;
		}
	}
}