/***** FOOTER MENUS ********/

.l-page-bottom-wrapper ul.menu {

	li {
		margin: 0.2rem 0.5rem;
		float: left;

		&.first {
			margin-left: 0;
		}

	}
	a {
		color: $l-footer-link;
		&:hover {
			color: $l-footer-link-h;
		}
	}
	ul {
		
	}
}