/***** HEADER BLOCKS *****/

.l-region--navigation ul.menu {

	li {
		float: left;
		margin: 0 0.25rem;
		&.last {
			margin-right: 0;
		}
	}
	a {
		padding: 0.2rem 0.5rem;
		font-weight: $menu-ul-nav-weight;
		font-size: $menu-ul-nav-size;
		text-transform: $menu-ul-nav-transform;
		background-color: $menu-ul-nav-bg;
		border-radius: $menu-ul-nav-border-radius;
		color: $menu-ul-nav-link;
		&:hover {
			color: $menu-ul-nav-link-h;
			background-color: $menu-ul-nav-bg-h;
		}
	}
	ul {
		
	}

}