/***** TOP REGION MENUS ********/

.l-page-top-wrapper ul.menu {
	float: left;

	li {
		margin: 0 0.5rem;
		float: left;

		&.first {
			margin-left: 0;
		}
		&.last {
			margin-right: 0;
		}

	}
	a {
		color: $l-page-top-link;
		font-size: 0.9rem;
		&:hover {
			color: $l-page-top-link-h;
		}
	}
	ul {
		
	}
}