form#search-block-form {
	.container-inline {
		&:after {
			@include clear-float;
		}
	}
	.form-item-search-block-form, .form-actions.form-wrapper {
		float: left;
		margin: 0;

		input {
			height: 35px;
			line-height: 35px;
		}
	}

	.form-submit {
		background-image: url(../images/search-icon.png);
		background-color: $theme-color;
		background-repeat: no-repeat;
		width: 35px;
		height: 35px;
		background-position: 50% 50%;
		overflow: hidden;
		text-decoration: 99999px;
		text-indent: -99999px;
		display: block;
		margin: 0;
		padding: 0;
	}
}

