/******* FONTS (IMPORT FROM GOOGLE) ************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300);

/**********************************/
/************* FONTS **************/
/**********************************/

$mainfont:'Roboto', sans-serif;


/**********************************/
/******* HTML AND BODY ************/
/**********************************/

$html-size: 14px;
$body-size: null;

/**********************************/
/*************** BODY *************/
/**********************************/

$body-bg: #fff;
$color: #555;

$theme-color: #1cb1e2;
$theme-color-dark: #006699;


$link: $theme-color;
$link-h: $theme-color-dark;

/**********************************/
/********** PAGE TOP ZONE *********/
/**********************************/

$l-page-top-bg: #555;
$l-page-top-color: #999;
$l-page-top-link:  #ccc;
$l-page-top-link-h: #fff;

/**********************************/
/*********** HEADER ZONE **********/
/**********************************/

$l-header-bg: null;
$l-header-color: null;
$l-header-link:  null;
$l-header-link-h: null;

$l-header-site_name-color: #000;

/**********************************/
/******** NAVEGATION ZONE *********/
/**********************************/

$l-nav-bg: null;
$l-nav-color: null;
$l-nav-link: null;
$l-nav-link-h: null;
$l-nav-size: null;

/**********************************/
/******** HIGHLIGHTED ZONE ********/
/**********************************/

$l-highlighted-bg: null;
$l-highlighted-color: null;
$l-highlighted-link: null;
$l-highlighted-link-h: null;
$l-highlighted-size: null;

/**********************************/
/******* MAIN CONTENT ZONE ********/
/**********************************/

$l-main-bg: null;
$l-main-color: null;
$l-main-link: null;
$l-main-link-h: null;
$l-main-size: null;

/**********************************/
/************ FOOTER ZONE *********/
/**********************************/

$l-footer-bg: #eee;
$l-footer-color: null;
$l-footer-link: null;
$l-footer-link-h: null;
$l-footer-size: 1rem;

/**********************************/
/********* PAGE BOTTOM ZONE *******/
/**********************************/

$l-page-bottom-bg: #ddd;
$l-page-bottom-color: null;
$l-page-bottom-link: null;
$l-page-bottom-link-h: null;
$l-page-bottom-size: 0.8rem;

/**********************************/
/************* MESSAGES ***********/
/**********************************/

$messages-wrap: #eee;
$message-color: #000;
$message-size: null;
$messages-link: #fff;

$messages-status-bg: #ccffcc;
$messages-status-color: null;
$messages-status-link: #336633;

$messages-warning-bg: #ffffcc;
$messages-warning-color: null;
$messages-warning-link: #996600;


$messages-error-bg: #ffebeb;
$messages-error-color: null;
$messages-error-link: #993333;

/**********************************/
/************** TABS **************/
/**********************************/

$tabs-link: #000;
$tabs-link-bg: #fff;
$tabs-link-border: #999;

$tabs-link-h: #fff;
$tabs-link-bg-h: $theme-color;
$tabs-link-border-h: $theme-color;

/**********************************/
/*********** ACTION LINKS *********/
/**********************************/

$actionlinks-size: 1rem;

$actionlinks-link: #000;
$actionlinks-link-bg: #fff;
$actionlinks-link-border: #000;

$actionlinks-link-h: $theme-color-dark;
$actionlinks-link-bg-h: #fff;
$actionlinks-link-border-h: $theme-color-dark;

/**********************************/
/************ BREADCRUMB **********/
/**********************************/

$breadcrumb-color: #999;
$breadcrumb-link: #999;
$breadcrumb-link-h: $theme-color;
$breadcrumb-size: 0.9rem;

/**********************************/
/*********** BLOCKS ***************/
/**********************************/

$blocks-title-size: 1.5rem;
$blocks-title-color: #000;

$blocks-sidebar-title-size: 1.3rem;
$blocks-sidebar-title-color: null;

$blocks-footer-title-size: 1em;
$blocks-footer-title-color: null;

/**********************************/
/********* SIDR RESPONSIVE ********/
/**********************************/

$responsive-button-border-radius: 3px;
$responsive-button-size: 1.2rem;
$responsive-button-bg: $theme-color;
$responsive-button-color: #fff;

$responsive-button-bg-h: $theme-color-dark;
$responsive-button-color-h: #fff;

/**********************************/
/********** MENUS UL.menu *********/
/**********************************/

$menu-ul-link: #000;
$menu-ul-link-h: $theme-color-dark;

$menu-ul-nav-link: null;
$menu-ul-nav-link-h: #fff;
$menu-ul-nav-size: 1.1rem;
$menu-ul-nav-transform: null;
$menu-ul-nav-bg: null;
$menu-ul-nav-bg-h: $theme-color-dark;
$menu-ul-nav-border-radius: 3px;
$menu-ul-nav-weight: 400;

/**********************************/
/**** HEADERS h1 h2 h3 h4 h5 h6 ***/
/**********************************/

$h1-6-font: null;
$h1-6-color: #000;

$h1-size: 2.5rem;
$h1-color: null;
$h1-font: null;

$h2-size: 1.3rem;
$h2-color: null;
$h2-font: null;

$h3-size: 1.2rem;
$h3-color: null;
$h3-font: null;

$h4-size: 1rem;
$h4-color: null;
$h4-font: null;

$h5-size: .75rem;
$h5-color: null;
$h5-font: null;

$h6-size: .50rem;
$h6-color: null;
$h6-font: null;

/**********************************/
/*********** PARAGRAPH ************/
/**********************************/

$p-size: null;

$p-author-color: null;
$p-author-size: 0.9rem;

/**********************************/
/*************** HR ***************/
/**********************************/

$hr-width: 1px;
$hr-border: solid;
$hr-color: $theme-color;

/**********************************/
/************** TABLE *************/
/**********************************/

$table-border-color: #999;
$table-th-bg: #000;
$table-th-color: #fff;

$table-tr-odd-bg: #fefefe;
$table-tr-even-bg: #efefef;

$table-tr-drag-bg: #777;
$table-tr-drag-color: #fff;

$table-tr-region-title-bg: #ddd;
$table-tr-region-title-color: #000;

/**********************************/
/************* FORMS **************/
/**********************************/

$label-color: #000;
$label-weigth: normal;

$form-description-color: #999;
$form-description-size: 1rem;

$form-required-color: #d00;

$form-input-border-radius: 0;
$form-input-bg: #fff;
$form-input-color: #000;
$form-input-border-color: #ccc;
$form-input-border-color-error: $theme-color;

$form-button-size: 1rem;
$form-button-color: #fff;
$form-button-bgradient-1: $theme-color;
$form-button-bgradient-2: $theme-color;

$form-button-color-h: #fff;
$form-button-bgradient-1-h: $theme-color-dark;
$form-button-bgradient-2-h: $theme-color-dark;


