.form-item, .form-actions {
		margin: 1.2em 0;

		.webform-container-inline div, .webform-container-inline div.form-item:after {
			clear: none;
			display: inline-block;
			content: none;

		}

		label {
			display: block;
			font-weight: $label-weigth;
			margin: 0 0 0.5rem;
			color: $label-color;

			&.option {
				display: inline;
				margin: 0;
			}
		}

}
.description { 
			display: block;
			clear: both;
			color: $form-description-color;
			font-size: $form-description-size;
			padding: 0.5em 0;
}

.form-actions {
	text-align: left;
}

.filter-wrapper .form-item label {
display: block;
}

.form-required {
color: $form-required-color;
}

fieldset {
margin: 1em 0;
padding: 1em;
}


/*********** FORM INPUTS *********/


input[type="text"], input[type="email"], input[type="password"], select, textarea {
	line-height: normal;
	background-color: $form-input-bg;
	color: $form-input-color;
	border: 1px solid $form-input-border-color;
	border-radius: $form-input-border-radius;
	padding: 0.5rem;
	height: auto;
	width: 100%;
	max-width: 700px;

	@include breakpoint($mobile) {
		width: 96%;
		padding: 0.5em 2%; 
	}

	&.form-checkbox, &.form-radio {
	width: auto;
	}

	&.form-autocomplete {
		background-image: none;
	}

	&.error {
		border: 2px solid $form-input-border-color-error;
	}
}

/*********** FORM BUTTON *********/


button, html input[type="button"], input[type="reset"], input[type="submit"] {
			@include linear-gradient($form-button-bgradient-1, $form-button-bgradient-2);
			cursor: pointer;
			color: $form-button-color;
			padding: 0.5rem 1rem;
			font-size: $form-button-size;
			text-transform: uppercase;
			border: 1px solid $form-button-bgradient-2;
			border-radius: $form-input-border-radius;
			margin: 0.5rem 0.5rem 0 0;
			&.ajax-processed {
				background-color: #fff;
				background-image: none;
				border: 1px solid #000;
				color: #000;
				display: inline;
				font-size: 0.8rem;
			}
			&:hover {
				@include linear-gradient($form-button-bgradient-1-h, $form-button-bgradient-2-h);
				color: $form-button-color-h;
				border: 1px solid $form-button-bgradient-2-h;

			}
}


/*********** LOAD GIF *********/

.ajax-progress.ajax-progress-throbber, .flag-wrapper.flag-waiting {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8) url(../images/load.gif) no-repeat 50% 50%;
	z-index: 99;
}


#views_infinite_scroll-ajax-loader {
	background: rgba(255, 255, 255, 0.8) url(../images/load.gif) no-repeat 50% 50%;
	clear: both;
	margin: 2.5em auto;
	width: 40px;
	height: 40px;
	line-height: 0;

	img {
		display: none;
	}

}

.throbber {
display: none;
}

.jquery-filestyle  {
		max-width: 400px;
		display: block !important;

		&:after {
			@include clear-float; 
		}

			input {
				float: left !important;
				width: 50% !important;
				display: block;
				margin: 0 !important;
				height: 38px;
				line-height: 38px;
				padding: 0;
				cursor: not-allowed;
			}

			label {
			@include linear-gradient($form-button-bgradient-1, $form-button-bgradient-2);
			text-indent: 0px;
			color: $form-button-color;
			border: 1px solid $form-button-bgradient-2;
			border-radius: $form-input-border-radius;
			height: 38px;
			line-height: 38px;
			text-decoration: none;
			cursor: pointer;
			padding: 0px;
			width: 50% !important;
			float: left !important;
			display: block !important;
			margin: 0 !important;
			max-width: 130px;
			text-align: center;

				&:hover {
					@include linear-gradient($form-button-bgradient-1-h, $form-button-bgradient-2-h);
					color: $form-button-color-h;
					border: 1px solid $form-button-bgradient-2-h;
				}
			}


			.icon-folder-open {
					  background: url(../images/upload-icon.png) no-repeat 50% 50%;
					  width: 20px;
						height: 20px;
						display: inline-block;
						margin: 0px 0.2rem 0 0;
						vertical-align: sub;
			}
}

.omega-extension-settings {
	padding-left: 10px;
	padding-right: 10px;
}