.sidr {
	display:none;
	position:absolute;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:260px;
	overflow-x:none;
	overflow-y:auto;
	background:#fff;
	color:#ccc;
}
#responsive-menu-button {
display: block;
background-color: $responsive-button-bg;
float: right;
padding: 0.3rem 1rem;
border-radius: $responsive-button-border-radius;
color: $responsive-button-color;
margin: 1rem;
font-weight: 400;
font-size: $responsive-button-size;
	
	&:hover, &:active {
		background-color: $responsive-button-bg-h;
		color: $responsive-button-color-h;
	}
}

body.sidr-open {
	overflow: hidden;
	position: fixed !important;
	top: 0;
}
.sidr-class-element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

.sidr .sidr-inner{
	padding:0 0 15px;
}

.sidr.right{
	left:auto;right:-260px
}

.sidr.left{
	left:-260px;right:auto
}

.sidr-class-block {
	position: relative;
}

.sidr-class-contextual-links-wrapper {
	display: none;
    position: absolute;
    z-index: 9;
    right: 2px;
    top: 2px;
	font-size: 12px;


    .sidr-class-contextual-links-trigger {
		background: #fff;
		display: block;
		padding: 5px;
		color: #000;
		font-weight: bold;

	}
	.sidr-class-contextual-links {
		@include clean-list;
		display: none;
		text-align: right;
		background-color: #fff;	
		clear: both;
		position: absolute;
		top: 20px;
		right: 0;
		width: 115px;
		a {
			display: block;
			padding: 5px;
			text-align: right;
			color: #000;
		}
	}
	&:hover {
		z-index: 10;
		.sidr-class-contextual-links {
			display: block;
		}	
	}
}

