table {
	width: 100%;
	border: 1px solid $table-border-color;
	font-size: 0.9rem;
}

.tabledrag-toggle-weight-wrapper {
    text-align: right;
    margin: 1rem 0;
}

th {
	background-color: $table-th-bg;
	color: $table-th-color;
	padding: 0.5rem;
	text-align: center;
	text-transform: uppercase;
}

tr {
	&.odd {
		  background-color: $table-tr-odd-bg;

	}	
	&.even {
		  background-color: $table-tr-even-bg;

	}
	&.drag, &.drag-previous {
		  background-color: $table-tr-drag-bg;
		  color: $table-tr-drag-color;

	}
	&.region-title {
		background-color: $table-tr-region-title-bg;
		color: $table-tr-region-title-color;
	}
}

tr td {
	padding: 0.5rem;
}

dt {
	display: block;
	margin: 0.5rem;
}

.sticky-header {
	background-color: $table-th-bg;
	border-color: $table-th-bg;
	top: 0 !important;
	z-index: 99;
}
a.tabledrag-handle {
	width: 15px;
    height: 20px;
    margin: 0 1rem 0 0;

	.handle {
		width: 15px;
		height: 20px;
		padding: 0;
		margin: 0;
		background: transparent url("../images/draggable.png") no-repeat scroll 0 0;
		&:hover {
			background-position: 0 -20px;
		}
		&:active {
			background-position: 0 -40px;
		}
	}
}



