html, body {
    font: $html-size $mainfont;
}

div {

}

span {

}

object {

}

iframe {

}

h1, h2, h3, h4, h5, h6 {
    font-family: $h1-6-font;
    color: $h1-6-color;
    margin: 0 0 1rem;
    
}

h1 {
    font-family: $h1-font;
    font-size: $h1-size;
    color: $h1-color;
    margin: 0 0 1.5rem;
}

h2 {
    font-family: $h2-font;
    font-size: $h2-size;
    color: $h2-color;
}

h3 {
    font-family: $h3-font;
    font-size: $h3-size;
    color: $h3-color;
}

h4 {
    font-family: $h4-font;
    font-size: $h4-size;
    color: $h4-color;
}

h5 {
    font-family: $h5-font;
    font-size: $h5-size;
    color: $h5-color;
}

h6 {
    font-family: $h6-font;
    font-size: $h6-size;
    color: $h6-color;
}

p {

}


hr {
    display:block;
    height:1px;
    border:0;   
    border-top: $hr-width $hr-border $hr-color;
    margin:1em 0;
    padding:0;
}

a {
    color: $link;
    text-decoration: none;
    &:hover {
        color: $link-h;
    }
}


fieldset {
    .fieldset-legend {
        padding: 0.5rem;
    }
}