/***** VIEW PAGER ******/

.view ul.pager {
	@include clean-list;
	padding: 0px;
	display: block;
	margin: 1rem 0px;
	position: relative;
	text-align: center;
	background-color: #fff;
	color: #CCC;
	font-size: 0.9em;
	float: right;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);

	&:after {
		@include clear-float;
	}

	li {
		@include clean-list;
		float: left;
		padding: 0;
		color: #000;
		font-weight: normal;
    }

	a {
		      	
		    color: $theme-color;
			display: block;
			padding: 10px 15px;
			text-transform: uppercase;

		&:hover {
			color: $theme-color-dark;
		}
	}

	.pager-previous {
	}
	.pager__item--current {
		padding: 10px 15px;
	}
	.pager-next {
	}
}

.view-empty {
	p {
		margin: 1em 0;
		text-align: center;
		color: #cc3333;
		font-size: 1.5em;
	}
}

.view-content {
	&:after {
		@include clear-float;
	}
}


.view-editoriales, .view.view-users, .view-calendario {
		ul.pager {
			display: none;
		}
}

