.action-links {
	@include clean-list;
	margin: 1rem 0;
	border-width: 0;
	&:after {
		@include clear-float;
	}
	li {
		@include clean-list;
		float: left;
		margin: 0 0.5rem 0.5rem 0;
	}

	li > a {
		display: block;
		background-color: $actionlinks-link-bg;
		padding: 0.5rem 1rem;
		text-transform: uppercase;
		color: $actionlinks-link;
		border: 1px solid $actionlinks-link-border;
		font-size: $actionlinks-size;

		&:hover, &.active { color: $actionlinks-link-h; border-color: $actionlinks-link-border-h; background-color: $actionlinks-link-bg-h;	}
	}

}

