ul.breadcrumb {
	@include clean-list;
	margin:1rem 0;
    font-size: $breadcrumb-size;
    color: $breadcrumb-color;

	li {
		list-style-image: none;
		list-style: none;
		display: inline;


		&:after {
			content: " / ";
		}

	}

	a {
		display: inline;
		color: $breadcrumb-link;

		&:hover {
			color: $breadcrumb-link-h;
		}
	}
}