/***** GENERAL NODES *******/

p.submitted {
	color: $p-author-color;
	font-size: $p-author-size;
	font-style: italic;
}


.node--teaser {
    padding: 1rem;
    margin: 0px 0px 1rem;
    border: 1px solid #DDD;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.1);

    h2.node__title {
    	font-size: 1.5rem;
    	margin: 1.5rem 0;
    	a {
    		color: #000;
    	}
    }
}


ul.links  {
	margin: 0.5rem 0;
	padding: 0.5rem 0;
	border-width: 0;
	font-size: 0.9rem;
	border-top: 1px dotted #ccc;

	li {
		margin: 0 0.5rem 0.5rem 0;
	}

	li > a {
		display: block;
		background-color: $tabs-link-bg;
		padding: 0.5rem 1rem;
		color: $tabs-link;
		border: 1px solid $tabs-link-border;

		&:hover, &:active, &.active { color: $tabs-link-h; border-color: $tabs-link-border-h; background-color: $tabs-link-bg-h;	}
	}

}