/**** BODY ******/

body {
	background-color: $body-bg;
	color: $color;
}
.l-width-grid {
		padding: 0 1rem;
		transition: all 0.3s ease-out 0s;
		&:after {
			@include clear-float;
		}
		@include breakpoint($narrow) {
			width: $narrow;
			margin: 0 auto;

		}		
		@include breakpoint($normal) {
			width: $normal;
			margin: 0 auto;
		}		
		@include breakpoint($wide) {
			width: $wide;
			margin: 0 auto;
		}
}

/**** PAGE TOP ZONE *******/

.l-page-top-wrapper {
	background-color: $l-page-top-bg;
	color: $l-page-top-color;
	margin: 0;
	padding: 0.8rem 0;


	a {
		color: $l-page-top-link;
		&:hover {
			color: $l-page-top-link-h;
		}
	}

	.l-page-top-inner {

		.l-content {

		}
	}
}

/**** HEADER ZONE ******/
.l-header-wrapper {
	background-color: $l-header-bg;
	color: $l-header-color;

	a {
		color: $l-header-link;
		&:hover {
			color: $l-header-link-h;
		}
	}

	.l-header-inner {

	}
	.l-branding {
		@include breakpoint($narrow) {
			float: left;
			margin: 1rem 1.5rem 1rem 0;
		}
		&:after {
			@include clear-float;
		}
	}

	.site-logo {
		margin: 0px 0.5rem 0px 0px;
		display: block;
		float: left;
		img {
			vertical-align: middle;
		}
		@include breakpoint($mobile) {
			float: none;
			margin: 0 0 0.5rem;
			display: inline-block;
		}
	}
	.site-name-slogan-wrap {
		display: block;
		float: left;
		margin: 1.5rem 0 0;
		@include breakpoint($mobile) {
			float: none;
			margin: 0.2rem 0;
		}

	}
	h1.site-name {
		font-weight: 900;
		font-style: italic;
		margin: 0;

		a {
			color: $l-header-site_name-color;
		}
	}
	h2.site-slogan {
		font-weight: 300;
		font-size: 1.5rem;
		margin: 0;
	}
}

/**** NAVEGATION ZONE *******/

#responsive-menu-button {
	display: none;
	@include breakpoint(0 $normal) {
		display: block;
	}
}
#responsive-menu {
	@include breakpoint(0 $normal) {
		display: none;
	}
}


.l-region--navigation {
	background-color: $l-nav-bg;
	color: $l-nav-color;
	font-size: $l-nav-size;

	@include breakpoint($narrow) {
		float: right;
	}

	.block {
		float: right;
		clear: both;
	}

	a {
		color: $l-nav-link;
		&:hover {
			color: $l-nav-link-h;
		}
	}
}

/**** HIGHLIGHTED ZONE *******/
.l-highlighted-wrapper {
	background-color: $l-highlighted-bg;
	color: $l-highlighted-color;
	margin: 0 0 2rem;


	a {
		color: $l-highlighted-link;
		&:hover {
			color: $l-highlighted-link-h;
		}
	}

	.l-highlighted-inner {

		.l-content {

		}
	}
}

/**** MAIN CONTENT ZONE *******/
.l-main-wrapper {
	background-color: $l-main-bg;
	color: $l-main-color;
	font-size: $l-main-size;
	padding: 2rem 0;

	a {
		color: $l-main-link;
		&:hover {
			color: $l-main-link-h;
		}
	}

	.l-main-inner {

		.l-content {

		}
	}
}

	body.with_sidebar  {
		@include breakpoint($narrow) {
				.l-content {
					@include grid-span(8,1);
				}
				.l-region--sidebar-first {
					@include grid-span(4,9);
				}
		}
		@include breakpoint($wide) {
				.l-content {
					@include grid-span(8,1);
				}
				.l-region--sidebar-first {
					@include grid-span(4,9);
				}
		}
	}

/**** FOOTER ZONE *******/
.l-footer-wrapper {
	background-color: $l-footer-bg;
	color: $l-footer-color;
	padding: 0.5rem 0;
	a {
		color: $l-footer-link;
		&:hover {
			color: $l-footer-link-h;
		}
	}
	.l-footer-inner {

	}
}

/**** PAGE BOTTOM ZONE *******/
.l-page-bottom-wrapper {
	background-color: $l-page-bottom-bg;
	color: $l-page-bottom-color;
	padding: 0.5rem 0;
	a {
		color: $l-page-bottom-link;
		&:hover {
			color: $l-page-bottom-link-h;
		}
	}
	.l-page-bottom-inner {

	}
}


