.l-message-wrapper {
	background-color: $messages-wrap;
	}

	.messages {
    margin: 0;
    padding: 0;
    background-image: none;
    border: 0 none;
    background-color: transparent;
    color: $message-color;
    font-size: $breadcrumb-size;

        .messages-grid {
            background-repeat: no-repeat;
            background-position: 0 50%;
            padding: 20px 20px 20px 50px;

            a {
                color: $messages-link;
                &:hover {
                   text-decoration: underline;
                }
            }
        }

    &.messages--status {
        background-color: $messages-status-bg;
    	color: $messages-status-color;
        a {
            color: $messages-status-link;
        }
        .messages-grid {
            background-image: url(../images/message-status-black.png);
        }
    }
    &.messages--error {
        background-color: $messages-error-bg;
        color: $messages-error-link;
        a {
            color: $messages-error-link;
        }
        .messages-grid {
            background-image: url(../images/message-error-black.png);
        }    
    }
    &.messages--warning {
        background-color: $messages-warning-bg;
        color: $messages-warning-color;
        a {
            color: $messages-warning-link;
        }
        .messages-grid {
            background-image: url(../images/message-warning-black.png);
        }    } 
}