.tabs {
	margin: 0.5rem 0;
	border-width: 0;
	font-size: 1rem;

	li {
		margin: 0 0.5rem 0.5rem 0;
	}

	li > a {
		display: block;
		background-color: $tabs-link-bg;
		padding: 0.5rem 1rem;
		color: $tabs-link;
		border: 1px solid $tabs-link-border;

		&:hover, &:active, &.active { color: $tabs-link-h; border-color: $tabs-link-border-h; background-color: $tabs-link-bg-h;	}
	}

	&.tabs--primary {
		
	}
	&.tabs--secondary {
		font-size: 0.9rem;
	}
}