/***** SIDEBAR *******/

.l-region--sidebar {
	& > .block {
		margin: 0 0 1.5rem;
		border-bottom: 1px dotted #666;
		padding-bottom: 1rem;
	}
	.block__title {
		font-size: $blocks-sidebar-title-size;
		color: $blocks-sidebar-title-color;
	}
}