/***** SIDR - RESPONSIVE MENU *******/

.sidr-class-block {
	margin: 0 1rem 1.5rem;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 1rem;
	
	.block__title {
		font-size: $blocks-sidebar-title-size;
		color: $blocks-sidebar-title-color;
	}
}