/***** PAGE TOP BLOCKS ********/

.l-page-top-wrapper .block {
	margin: 0.5rem 1rem 0.5rem 0;
	float: left;
	border-right: 1px dotted #666;
	padding: 0px 1rem 0 0;

	&:after {
		@include clear-float;
	}

	.block__title {
		margin: 0px 0.5rem 0px 0px;
		font-style: italic;
		float: left;
		color: #FFF;
		font-size: 0.9rem;
		font-weight: 400;
	}

	.block__content {
		float: left;
	}
}