//** FONT MIXINS **//

@mixin font-size ($font-size) {
	font-size: $font-size;
	font-size: ($font-size / $base-font-size)*1rem;
}

//** GRADIENT MIXINS **//

@mixin linear-gradient($gradient1-light, $gradient1-dark) {
background: $gradient1-light; /* Old browsers */
background: -moz-linear-gradient(top,  $gradient1-light 0%, $gradient1-dark 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gradient1-light), color-stop(100%,$gradient1-dark)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  $gradient1-light 0%,$gradient1-dark 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  $gradient1-light 0%,$gradient1-dark 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  $gradient1-light 0%,$gradient1-dark 100%); /* IE10+ */
background: linear-gradient(to bottom,  $gradient1-light 0%,$gradient1-dark 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient1-light', endColorstr='$gradient1-dark',GradientType=0 ); /* IE6-9 */
}

//** CLEAR FLOAT ELEMENTS **//

@mixin clear-float {
		display: block;
		content: " ";
		clear: both;
	}

//** CLEAR LIST **//

@mixin clean-list {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	list-style-image: none;
  }

//****//
 

